[Desktop Entry]
Name=フローティング Casali
Comment=讓 CASALI 標誌圍繞畫面
Exec=/usr/lib/mate-screensaver/mate-screensaver/floaters /usr/share/pixmaps/casali.svg -r -n 50
TryExec=/usr/lib/mate-screensaver/mate-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=Screensaver;
Keywords=casali;
OnlyShowIn=MATE;
